.intro{
    background-image: url(../img/intro-bgimage.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

body{
    /* background-color:#a88e8e; */
    background-image: url(../img/bg-texture.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .wrapper{ /*TODO:bg orqasi oqligicha qovotti*/
  /* background-color:#252525; */
  /* background-image: url(../img/bg-texture.jpg); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  }
  