* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* LOADER  */
.loader {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

#loader-2 span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #3498db;
  margin: 35px 5px;
}

#loader-2 span:nth-child(1) {
  animation: bounce 1s ease-in-out infinite;
}

#loader-2 span:nth-child(2) {
  animation: bounce 1s ease-in-out 0.33s infinite;
}

#loader-2 span:nth-child(3) {
  animation: bounce 1s ease-in-out 0.66s infinite;
}

@keyframes bounce {

  0%,
  75%,
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  25% {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

/* HEADER */
.header {
  z-index: 5;
  /* position: fixed; */
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #032541;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.header-container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 150px;
}

.navbar-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-item {
  margin-right: 15px;
}

.navbar-item a {
  text-decoration: none;
  color: white;
}

.navbar-item-link {
  text-decoration: none;
  font-size: 24px;
}

.navbar-item-link:hover {
  color: #007ACC;
}

.fa-search {
  color: #01B4E4;
  font-size: 25px;
}



/* INTRO */
.search {
  position: relative;
}

/* NOT FOUND */
.not-found {
  padding-top: 150px;
  text-align: center;
  font-size: 40px;
  color: red;
}

/* Movies page */

.movie {
  transform: scale(1);
  transition: all .4s ease-out;
}

.movie:hover {
  transform: scale(1.1);
}


.movie:hover .view_movie_message {
  display: block;
}

.view_movie_message {
  position: absolute;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  z-index: 10;
  width: 100px;
  left: 30px;
  top: 135px;
  display: none;
}

.moviesCardImgWrapper {
  position: relative;
}

.movie:hover .movieCard-bg {
  display: block;
}

.movieCard-bg {
  z-index: 5;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 3px;
  background: linear-gradient(to bottom right,
      rgba(9.02%, 8.63%, 8.24%, 1.00),
      rgba(9.02%, 8.63%, 8.24%, 0.34));
  display: none;
}

.movies-wrapper {
  display: flex;
}

.movie-title:hover {
  color: #0CB7E5;
}

.inner-div {
  position: relative;
}

.inner-div::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(to bottom right,
      rgba(9.02%, 8.63%, 8.24%, 1.00),
      rgba(9.02%, 8.63%, 8.24%, 0.64));
  z-index: -1;
}

.movie_details {
  text-align: center;
}

/* PROGRESS BAR */
.progress-container {
  align-items: center;
}

.progress {
  line-height: 50px;
  width: 60px;
  height: 60px;
  font-size: 15px;
  color: #fff;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background: #07070c;
  text-align: center;
}

/* .progress::after {content: "%";} */

.progress .title {
  position: relative;
  z-index: 100;
}

.progress .overlay {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #07070c;
}

.progress .left,
.progress .right {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 5px solid #21D07A;
  border-radius: 100px 0px 0px 100px;
  border-right: 0;
  transform-origin: right;
}

.progress .left {
  animation: load1 1s linear forwards;
}

.progress:nth-of-type(2) .right,
.progress:nth-of-type(3) .right {
  animation: load2 .5s linear forwards 1s;
}

.progress:last-of-type .right,
.progress:first-of-type .right {
  animation: load3 .8s linear forwards 1s;
}

@keyframes load1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes load2 {
  0% {
    z-index: 100;
    transform: rotate(180deg);
  }

  100% {
    z-index: 100;
    transform: rotate(270deg);
  }
}

@keyframes load3 {
  0% {
    z-index: 100;
    transform: rotate(180deg);
  }

  100% {
    z-index: 100;
    transform: rotate(315deg);
  }
}

/* HOME */
.movieContainer {
  margin-top: 30px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  margin-right: 20px;
  white-space: nowrap;
  font-size: 1.5em;
  font-weight: 600;
  color: #17B7DA;
}

.swiper-button-prev {
  left: 0;
}

/* SEARCH */

.searchPage {
  padding-top: 100px;
}

.catalogPage {
  padding-top: 60px;
}

/* VIEW MOVIE PAGE */
.movie-info {
  height: 500px;
}

.cards-wrapper {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  margin-bottom: 50px;
}

.movie-info .heading {
  margin-right: 25px;
}

.cards-gap {
  margin-bottom: 40px;
}

/* MOVIELIST */

.heading-line {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.movieList_wrapper {
  margin-bottom: 30px;
}

/* MOVIES */

.movie_details {
  font-weight: bold;
}


/* CATALOG */
.catalogPage {
  display: flex;
  justify-content: space-between;
}

.poster {}

.ps--active-x>.ps__rail-x {
  background-color: #fff;
}

.ps__thumb-x {
  background-color: #f1ecf7;
}

/* CUSTOM BUTTON */

.custom-btn {
  text-align: center;
  text-decoration: none;
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 700;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}

.btn-3 {
  background: rgb(15, 143, 194);
  background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;

}

.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background-color: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}

.btn-3:before {
  height: 0%;
  width: 2px;
}

.btn-3:after {
  width: 0%;
  height: 2px;
}

.btn-3:hover {
  background: transparent;
  box-shadow: none;
}

.btn-3:hover:before {
  height: 100%;
}

.btn-3:hover:after {
  width: 100%;
}

.btn-3 span:hover {
  color: rgba(2, 126, 251, 1);
}

.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}

.btn-3 span:before {
  width: 2px;
  height: 0%;
}

.btn-3 span:after {
  width: 0%;
  height: 2px;
}

.btn-3 span:hover:before {
  height: 100%;
}

.btn-3 span:hover:after {
  width: 100%;
}

.swiper-container {
  cursor: pointer !important;
}

/* .swiper-slide {
  margin-right: 0;
  width: 207px;
} */

/* ACTORS CARD */
a {
  text-decoration: none;
}

.actors-wrapper {
  margin-bottom: 20px;
}

.actor-card-link {
  border-radius: 8px;
}

.actor-info {
  box-shadow: 1px 0px 5px 1px #17b7da;
  min-height: 60px;
  padding: 5px 5px 0;
}

.actors-name {
  color: #b4a2a2;
  font-size: 15px;
  font-weight: bold;
}

.actors-character-name {
  color: rgb(151, 149, 149);
  font-size: 13px;
}

/* SLIDER */

.movie-content-inner_div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.movie-content-title {
  font-size: 35px;
  font-weight: bold;
  margin-right: 5px;
}

.movie-content-release_date {
  opacity: 0.8;
  font-weight: 400;
  font-size: 35px;
}

.actions {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.progress-container {
  margin-right: 10px;
}

.icons-wrapper {
  display: inline-flex;
  background-color: #032540;
  padding: 15px 17px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 15px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.icons-wrapper.fas {
  color: white;
  font-size: 16px;
  padding: 10px;
  display: inline-block;
}

.icons-container {
  display: flex;
  margin-right: 30px;
}

.movie-overview-title {
  font-weight: 600;
  font-size: 1.3em;
  margin-bottom: 10px;
}

.movie-overview {
  width: 685px;
}

.play_trailer {
  color: white;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

.fa-play {
  margin-right: 10px;
  display: inline-block;
}

.movie_genres {
  margin-bottom: 10px;
  display: block;
}

.cards-gap .heading {
  margin-bottom: 30px;
}

.similar-movies-wrapper {
  color: rgb(201, 201, 201);
}

.similar-movies-title {
  font-weight: bold;
}

.similar-movies-release {
  font-size: 13px;
  color: rgb(174, 174, 185);
}


.custom-btn {
  width: 80px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  font-style: 20px;
  font-weight: bold;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}

body {
  position: relative;
}

.btn-2 {
  text-align: center;
  width: 80px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-size: 18px;
  background-color: #151814;
  color: #21D07A;
  border: none;
  z-index: 300;
}

.btn-2:before {
  height: 0%;
  width: 2px;
}

.btn-2:hover {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
    -4px -4px 6px 0 rgba(116, 125, 136, .5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

.movieContainer .movie-title {
  color: white;
}

.moviesCardImgWrapper .movie-title {
  color: white;
}

.cards-wrapper::-webkit-scrollbar {
  height: 7px;
}

.cards-wrapper::-webkit-scrollbar-track {
  background-color: #01B4E4;
}

.cards-wrapper::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(208, 0, 0, 1);
}

.fixingBox {
  /* position: fixed; */
}

.css-b62m3t-container {
  margin-bottom: 20px;
  width: 50%;
}

.genres-link .genres-link-inner {
  background-color: #14ec43;
  color: black;
}

.movie_genres {
  margin-bottom: 30px;
  display: block;
}

.movie_genres span {
  padding: 5px 10px;
  background-color: black;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 10px;
  font-weight: bold;
  color: #21D07A;
}


/* ***********RESPONSIVE*************** */


@media screen and (max-width: 765px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

    .singleMoviepage{
      padding-top: 0 !important;
    }

    .singleMoviepage .movie-info{
      display: block;
    }

    .singleMoviepage .single-movie-img{
      display: none;
    }

    .singleMoviepage .movie-info,  .singleMoviepage .inner-div{
      height: auto !important;
    }
  .heading-line {
    padding-left: 10px;
    padding-right: 10px;
  }

  .single-movie-img {
    /* width: 190px !important;
    height: 270px !important;
    margin-right: 0px; */
    display: none;
  }

  .movie-info {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }

  .movie-content-release_date,
  .movie-content-title {
    font-size: 22px;
  }

  .actions {
    margin-bottom: 10px;
  }

  .icons-wrapper {
    padding: 10px 10px;
    margin-left: 5px;
    margin-right: 10px;
  }

.progress{
  line-height: 50px;
  width: 50px;
  height: 50px;
}

.movie-overview{
  line-height: 1;
  width: auto;
}

.movie-content-inner_div{
  margin-bottom: 10px;
}


.genres_table, .movies_grid-box{
  width: none !important;
}

.movies_grid_box{
  width: auto !important;
  margin: 0 !important;
}

.moviesGrid-row{
  padding: 0 !important;
  
}

.catalogPage{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.moviesCardImgWrapper{
  height: 100% !important;
}

}


 @media screen and (max-width: 342px) { 
  .header-logo{
    width: 75px;
  }

  .navbar-item-link {
    font-size: 15px !important;
  }

  .intro{
    padding: 0px !important;
    margin-bottom: 20px;
  }
  .intro-title{
    font-size: 2em !important;
  }
  .intro-text{
    font-size: 18px !important;
  }

  .single-movie-img{
    align-items: baseline !important;
  }

  .moviesGrid-row{
    padding: 0 !important;
    width: 0 !important;
  }
  
  
.catalogPage{
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.genres_table, .movies_grid-box{
  width: none !important;
}

.movies_grid_box{
  width: 175px !important;
  margin: 0 !important;
}
.genres-sidebar{
  width: 100px !important;
  margin-right: 0 !important;
}

.genres-link-inner{
  padding: 4px !important;
  font-size: 14px !important;
}

.catalog-title{
  font-size: 20px !important;
}

.moviesGrid-wrapper{
  text-align: center;
}

.moviesGrid-row{
  padding: 0 !important;
  width: 0 !important;
}

.actions{
  flex-wrap: wrap;
}
} 